<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <!-- El perfil necesita Internet para que las herramientas Flutter recopilen
         métricas y se comuniquen con la aplicación durante el desarrollo. -->
    <uses-permission android:name="android.permission.INTERNET"/>
</manifest>
